<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
    <form action="{% url "Login_up:changePassword" %}" method="post">
        {% csrf_token %}
        <a href="/Login/">返回首页</a> <br />
        账号: <input type="text" name="userName"  value="{{ userName }}" /><br />
        密保问题： <input type="text" name="question" value="{{ question }}" /><br />
        密保答案: <input type="text" name="answer" value="{{ answer }}"  /><br />
        新密码：<input type="password" name="newPassword"  /><br />
        确认密码：<input type="password" name="confirmPassword"  /><br />

                <input type="submit" value="完成" name="changePassword" /><br />
        {{ result }}
</body>
</html>