<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="{% url "Login_up:register" %}" method="post">
        {% csrf_token %}
        <a href="/Login/">返回首页</a> <br />
        账号: <input type="text" name="userName"  /><br />
        个人介绍: <input type="text" name="describe"  /><br />
        密码: <input type="password" name="password" /><br />
        确认密码：<input type="password" name="confirmPassword"  /><br />
        密保问题: <input type="text" name="question"  /><br />
        密保答案: <input type="text" name="answer"  /><br />

         <input type="submit" value="注册" name="register"/>
        {{ result }}

    </form>

</body>
</html>