<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
    <form action="{% url "Login_up:retrievePassword" %}" method="post">
        {% csrf_token %}
        <a href="/Login/">返回首页</a> <br />
        账号: <input type="text" name="userName"  /><br />
        密保问题： <input type="text" name="question" value="你的名字是？" /><br />
        密保答案: <input type="text" name="answer"  /><br />

                <input type="submit" value="完成" name="retrievePassword" /><br />
        {{ result }}

    </form>

</body>
</html>